* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('hospital-background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 0px; /* Optional: adjust if you want rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-aligns form elements */
}

.input-group {
    margin-bottom: 15px;
    width: 100%; /* Ensures full-width for input groups */
    text-align: left; /* Aligns text to the left for labels */
}

.input-group label {
    display: block;
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold;
    font-size: 16px; /* Adjusted for better readability */
}

.input-group input[type="text"],
.input-group input[type="password"] {
    padding: 10px;
    border-radius: 0px; /* Optional: adjust if you want rounded corners */
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%; /* Makes input fields span the width of the container */
}

button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 0px; /* Optional: adjust if you want rounded corners */
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Makes buttons span the width of the container */
}

.login-btn {
    background-color: #8b2d3c;
    color: white;
}

.change-password-btn {
    background-color: #f1f1f1;
    color: black;
}
